rules_version='2'

service cloud.firestore {
  match /databases/{db}/documents {
    
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /lessons/{lessonId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    match /attempts/{userId}/{lessonId}/{attemptId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

  
  }
}
